<div class="container-fluid">
    <div class="row header my-2 mx-2">
        <div class="card">
            <div class="card-body">
                <h3>Blogs</h3>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <ng-container *ngFor="let post of blogPost; let i = index">
          <div class="col-6 my-2">
            <div class="card mx-2">
              <div class="card-body">
                <div class="d-flex flex-grow-1">
                    <div class="w-50">
                      <img class="rounded" src="https://picsum.photos/id/1/200/300" alt="">
                    </div>
                    <div class="mx-2 w-50 flex-grow-1">
                      <div>
                        <h1 class="title fw-bold">{{ post.title }}</h1>
                      </div>
                      <div>{{ post.body }}</div>
                      <a href="">Read more</a>
                      <div class="d-flex mt-4">
                        <div class="d-flex"><mat-icon>alarm</mat-icon><p class="pt-1" style="margin-left: 0.5rem; font: icon; font-weight: 600;">04/07/2023</p></div>
                        <div class="d-flex" style="margin-left: 1.25rem;"><mat-icon>account_circle</mat-icon> <p class="pt-1" style="margin-left: 0.5rem; font: icon;font-weight: 600;">Alex Paul</p> </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="w-100" *ngIf="(i + 1) % 2 === 0"></div>
        </ng-container>
      </div>
</div>
