<div class="container-fluid">
  <div class="row header my-2 mx-2">
    
    <div class="card p-0">
        <div class="card-body p-10 pb-1">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-start">
                    <div>
                        <mat-icon class="text-color" aria-label="Side nav toggle icon">source</mat-icon>
                    </div>
                    <div class="title-block">
                        <span class="title">Blogs</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid px-0">
            <div class="row pl-4 g-0 pt-2">
                <div class="w-25 mt-2 d-flex align-items-center">
                    <p class="header-text description">Total Blogs: {{blogPost.length}}</p>
                </div>
            </div>
        </div>
    </div>
    
  </div>

  <div class="row my-3">
    <ng-container *ngFor="let post of blogPost; let i = index">
      <div class="col-lg-6 col-md-12  my-2">
        <div class="card mx-2 border-0">
          <div class="card-body">
            <div class="d-flex flex-grow-1 post-container">
              <div class="w-50 child-container">
                <img class="rounded img-left" src="https://picsum.photos/id/1/200/300" alt="">
              </div>
              <div class="mx-2 w-50 flex-grow-1 child-container">
                <div>
                  <h1 class="title">{{ post.title }}</h1>
                </div>
                <div>
                  <div class="post-body" [style.max-height]="post.isExpanded ? 'none' : post.maxHeight">
                    <p>{{ post.body }}</p>
                  </div>
                  <div class="mt-2 mb-2 ">
                    <a class="pointer" data-bs-toggle="collapse" (click)="togglePost(post)">{{ post.isExpanded ? 'Read less' : 'Read more' }}</a>
                  </div>
                  
                  <div class="d-flex mt-4 align-bottom text-container">
                    <div class="d-flex"><mat-icon>alarm</mat-icon>
                      <p class="pt-1 date-text ml-1">04/07/2023</p>
                    </div>
                    <div class="d-flex ml-2"><mat-icon>account_circle</mat-icon>
                      <p class="pt-1 date-text ml-1">Alex Paul</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100" *ngIf="(i + 1) % 2 === 0"></div>
    </ng-container>
  </div>
</div>
<!-- [ngClass]="isReadMore == 'step1' ? 'my_class1' : 'my_class2'" -->