<div class="container-fluid">
    <div class="row header my-2 mx-2">
        <div class="card">
            <div class="card-body">
                <mat-icon aria-label="Side nav toggle icon">people</mat-icon><span>Users</span>
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="isGridView = false">
                    <mat-icon aria-label="Side nav toggle icon">list</mat-icon>
                </button>
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="isGridView = true">
                    <mat-icon aria-label="Side nav toggle icon">view_module</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <app-users-grid-view *ngIf="isGridView"></app-users-grid-view>
    <app-users-list-view *ngIf="!isGridView"></app-users-list-view>
</div>
