<div class="container-fluid">
    <div class="row header my-2 mx-2">
        <div class="card p-0">
            <div class="card-body p-10 pb-1">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <div class="d-flex justify-content-start">
                            <div>
                                <mat-icon class="text-color" aria-label="Side nav toggle icon">people</mat-icon>
                            </div>
                            <div class="title-block">
                                <span class="title">Users</span>
                            </div>
                        </div>

                    </div>
                    <div>
                        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="toggle-group cus-toggle-wrap"
                            [value]="isGridView">
                            <mat-button-toggle [value]="false" (change)="isGridView = false" selected>
                                <mat-icon aria-label="Side nav toggle icon" [color]="!isGridView ? 'icon-color' : ''">list</mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle [value]="true" (change)="isGridView = true">
                                <mat-icon aria-label="Side nav toggle icon" [color]="isGridView ? 'icon-color' : ''">view_module</mat-icon>
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
            </div>

            <div class="container-fluid px-0">
                <div class="row pl-4 g-0">
                    <div class="col-6 d-flex align-items-center">
                        <p class="header-text px-3">Total Users : 10</p>
                    </div>
                    <div class="col-6 text-end">
                        <div
                            class="my-2 mx-2 d-inline-flex search-box-wrap my-2 mx-2 d-inline-flex justify-content-end position-relative">
                            <div class="search-icon-wrap" class="search-icon">
                                <mat-icon matPrefix>search</mat-icon>
                            </div>
                            <input matInput placeholder="Search Entry" class="search-place-holder" #input (keyup)="applyFilter($event)">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <app-users-grid-view *ngIf="isGridView"></app-users-grid-view>
    <app-users-list-view *ngIf="!isGridView"></app-users-list-view>
</div>
