.sidenav-container
  height: 100%
  background: #F0F5FB

.sidenav
  width: 200px

  & .mat-toolbar
    background: inherit

.mat-toolbar.mat-primary
  position: sticky
  top: 0
  z-index: 1

.toolbar
  position: absolute
  top: 0
  left: 0
  right: 0
  height: 60px
  display: flex
  align-items: center
  background-color: #f1f3f4
  color: #668094
  font-weight: 600

.spacer
  flex: 1

/****** Avatar **************/
.rows
  display: flex
  align-items: center

.circles
  height: 40px
  width: 40px
  border-radius: 50%
  background: #47a1f6
  border: 2px solid #47a1f6
  color: white
  text-align: center
  line-height: 40px

  .rows &:not(:first-child)
    margin-left: -18px

  .rows &:nth-child(n+5)
    display: none

.toolbar-menu
  font-family: Proxima Nova
  font-size: 17px
  font-weight: 700
  letter-spacing: 0em
  text-align: left
  color: #253244

.navbar
  padding-left: 0 !important
  z-index: 1041
