<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <div>MENU</div>
    </mat-toolbar>
    <mat-nav-list class="p-1">
      <a mat-list-item routerLinkActive="active" [routerLink]="['/home']">
        <span class="material-icons">
          home
        </span>
        <span class="p-10">Home</span></a>
      <a mat-list-item routerLinkActive="active" [routerLink]="['/users']">
        <span class="material-icons">
          people
        </span>
        <span class="p-10">Users</span></a>
      <a mat-list-item routerLinkActive="active" [routerLink]="['/blogs']">
        <span class="material-icons">
          source
        </span>
        <span class="p-10">Blogs</span></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="toolbar">
      <!-- <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> -->
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="assets/loremipsum-logo.png">
      <div class="spacer"></div>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button>
        <mat-icon>notifications</mat-icon>
      </button>
      <div class="dropdown">
        <button type="button" class="dropdown-toggle" id="dropdownMenuButton" aria-label="Toggle sidenav"
          mat-icon-button (click)="toggleLogOut()">
          <div class="rows">
            <div class="circles">
              {{ getInitials(username) }}
            </div>
          </div>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="logOut()">
            <span class="material-icons">
              logout
            </span><span>Log out</span></a>
        </div>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>