<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100" matSort>
  <!-- Name Column -->
  <ng-container matColumnDef="profilePicture">
    <th mat-header-cell *matHeaderCellDef style="width: 100px;"> </th>
    <td mat-cell *matCellDef="let element">
      <div style="display: flex; align-items: center;">
        <div style="height: 40px;
        width: 40px;
        border-radius: 50%;
        background: #47a1f6;
        border: 2px solid #47a1f6;
        color: white;
        text-align: center;
        line-height: 40px;">
          {{ getInitials(element.name) }}
        </div>
      </div>
    </td>
  </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="position"> Position </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="joiningDate">
      <th mat-header-cell *matHeaderCellDef> Joining Date </th>
      <td mat-cell *matCellDef="let element"> {{'2023-06-12' | date }} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- <mat-paginator [pageSizeOptions]="[7, 10, 15, 20]" showFirstLastButtons 
    aria-label="Select page of periodic elements">
</mat-paginator> -->

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
