.card
    border: 0
    background-color: #FFFFFF
    border-radius: 8px

    &-img-top
        width: 50%
        height: 110px
        object-fit: cover

.h3
    color: #506E85
    font-family: Proxima Nova
    font-size: 16px
    font-weight: 700
    line-height: 19px
    letter-spacing: 0em
    text-align: left

.header-text
    font-family: Proxima Nova
    font-size: 12px
    font-weight: 400
    line-height: 15px
    letter-spacing: 0em
    text-align: left

.blog
    padding-top: 1rem
    padding-left: 1rem

.pl-4
    padding-left: 1rem

.card-text
    font-family: Proxima Nova
    font-size: 14px
    font-weight: 400
    line-height: 17px
    letter-spacing: 0em
    text-align: left
    color: #506E85

.card-title
    margin-top: 1rem !important
    font-family: Proxima Nova
    font-size: 20px !important
    font-weight: 700 !important
    line-height: 24px
    letter-spacing: 0em
    text-align: left
    color: #000000

.recent-text
    color: #506E85
    font-family: Proxima Nova
    font-size: 16px
    font-weight: 700
    line-height: 19px
    letter-spacing: 0em
    text-align: left
    margin: 0 !important

hr
    margin-top: 0
    opacity: .1 !important

.total-text
    font-family: Proxima Nova
    font-size: 40px
    font-weight: 700
    line-height: 49px
    letter-spacing: 0em
    text-align: left
    color: #000000
    margin-bottom: 0

.description-text
    font-family: Proxima Nova
    font-size: 20px
    font-weight: 700
    line-height: 24px
    letter-spacing: 0em
    text-align: left
    color: #839DB3

.icon
    vertical-align: top
    text-align: right
    height: 50px

.align-icon-text
    vertical-align: bottom
    text-align: left

.pl-2
    padding-left: 0.50rem !important

.mr-1
    margin-right: 0.25rem !important

@media only screen and (max-width: 768px)
    .card-container
        margin-top: 1rem !important

@media only screen and (min-width: 768px) and (max-width: 992px)
    .card-img-top
        width: 70%
        height: 90px
